*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway;
  }
  .Formal{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  span {
    font-size: 0.8rem;
    color: white;
    display: none;
  }

  input:invalid ~ span{
    display: block;
  }