/* #root {
 margin: 0 auto;
 padding: 0;
 box-sizing: border-box;
} */
/* .App {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: purple;
    height: 100vh;
}
.form {
    background-color: white;
    height:70vh;
} */